@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    background: linear-gradient(236.85deg, #041832 27.26%, #3468A7 96.03%);
}

body {
    color: #515159;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

header {
    color: #515159;
    background: linear-gradient(236.85deg, #e6e6eb 27.26%, #3468A7 96.03%);
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;    
}

.container {
    color: #515159;
    margin: 16px;
    border-radius: 4px;
    background: linear-gradient(236.85deg, #e6e6eb 27.26%, #3468A7 96.03%);
    padding: 64px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}
  
h1 {
    color: black;
}
  
th, tr, td {
    border: solid 1px black;
    color: black;
}

.footer {
    color: #515159;
    background: linear-gradient(236.85deg, #e6e6eb 27.26%, #3468A7 96.03%);
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    justify-content: center; 
}