@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    /* border: 0;
    color: #ffffff;
    background: #da1e26;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s; */
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    
}

.container {
    background: #ECF4FF;
    color: #1C1C1C;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0E1D2F;
    padding: 64px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}
  
h1 {
    color: black;
}
  
th, tr, td {
    border: solid 1px black;
    color: black;
}

.footer {
    display: flex;
    justify-content: space-around;
}